@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");


body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 1px);
  margin: 1.25rem;
}

img {
  max-width: 100%;
}

.index__container {
  background-color: var(--white);
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  max-width: 24.900rem;
  padding: 0.830rem;
}


.index__container img {
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.index__container h1 {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 1rem;
}

.index__container p {
  color: var(--grayish-blue);
  text-align: center;
}

.index__links {
  font-size: 14px;
  text-align: center;
}

.index__links a {
  color: hsl(228, 45%, 44%);
}
